table, th, td {
  border: 1px solid black;
  padding: 0.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2px;
}

.w-60-px {
  width: 60px;
}

.w-100-px {
  width: 100px;
}

.h-edit {
  height: 1.75rem !important;
  margin-right: 2px;
}

.mr-edit {
  margin-right: 2px;
}

.ml-edit {
  margin-left: 2px;
}

input[type="file"] {
  display: none;
}

.toolbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  border-top: 1px solid #e2e8f0;
  padding: 0.75rem;
}
